@model IEnumerable<Inventory.Models.Tbl_Object>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ob_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ob_Purchase_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ob_Est_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ob_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Category.Ca_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ob_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ob_Purchase_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ob_Est_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ob_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Category.Ca_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ob_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ob_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ob_ID })
        </td>
    </tr>
}

</table>
